*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 90.5%; }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #282c34;
  padding: 3rem;
  box-sizing: border-box; }

.annotations__section {
  margin: 0 auto;
  width: 80%; }

.annotations__titles {
  margin: 5% auto; }

.annotations__title, .annotations__author, .annotations__text, .annotations__new-words {
  text-align: center; }

.row {
  margin: 0 auto; }

.col-md-6 {
  margin: 0 auto; }

.form-label {
  font-size: 8px;
  display: block;
  margin-bottom: 2%; }

.label {
  margin: 0; }
